<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi beatae modi eius, sint nesciunt accusamus?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis consequuntur alias pariatur suscipit temporibus earum beatae at quasi consequatur vitae.</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>
